* {
  padding: 0;
  margin: 0;
}

.container {
  margin: 100px auto 0;
  width: 700px;
  height: 500px;
  display: flex;
  /* gap: 2px;   */
  border: 2px solid white;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 20px;
}

.container:hover {
  border: 5px solid yellow;
}

.container img {
  transition: 0.5s;
}

.btnCont {
  width: 200px;
  margin: 5px auto;
  text-align: center;
}

.btnCont button {
  font-size: 16px;
  padding: 5px;
  margin-inline: 20px;
  border: 1px solid white;
  background: #000;
  color: white;
  padding: 10px;
  border-radius: 10px;
}

.btnCont button:hover {
  color: yellow;
  border: 1px solid yellow;
}
